<h1>Products</h1>

<div id='products-container'></div>



<h1 class="text-2xl font-bold mb-4">Lista de Productos</h1>
        <table class="table-auto w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead class="bg-gray-200 text-gray-700">
                <tr>
                    <th class="py-2 px-4">Nombre</th>
                    <th class="py-2 px-4">Descripción</th>
                    <th class="py-2 px-4">Precio</th>
                    <th class="py-2 px-4">Thumbnail</th>
                    <th class="py-2 px-4">Código</th>
                    <th class="py-2 px-4">Stock</th>
                </tr>
            </thead>
            <tbody class="product-container">
                {{#each products}}
                    <tr class="border-t">
                        <td class="py-2 px-4">{{title}}</td>
                        <td class="py-2 px-4">{{description}}</td>
                        <td class="py-2 px-4">{{price}}</td>
                        <td class="py-2 px-4">{{thumbnail}}</td>
                        <td class="py-2 px-4">{{code}}</td>
                        <td class="py-2 px-4">{{stock}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>