
    <h1>Lista de Productos</h1>
    <div id="products-container">
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="bg-gray-100">
                    <th class="py-2 px-4">Id</th>
                    <th class="py-2 px-4">Title</th>
                    <th class="py-2 px-4">Description</th>
                    <th class="py-2 px-4">Price</th>
                    <th class="py-2 px-4">Status</th>
                    <th class="py-2 px-4">Code</th>
                    <th class="py-2 px-4">Stock</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr class="{{@index % 2 === 0 ? 'bg-gray-50' : 'bg-white'}}">
                    <td class="py-2 px-4">{{prod.id}}</td>
                    <td class="py-2 px-4">{{prod.title}}</td>
                    <td class="py-2 px-4">{{prod.description}}</td>
                    <td class="py-2 px-4">{{prod.price}}</td>
                    <td class="py-2 px-4">{{prod.thumbnail}}</td>
                    <td class="py-2 px-4">{{prod.code}}</td>
                    <td class="py-2 px-4">{{prod.stock}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

